body{
    background:linear-gradient(to right, #E0FFFF, #FFC0CB);
    margin:0;
    padding:0;
    font-family:sans-serif;
}

.container{
    background:linear-gradient(to left, #3466d1, #FF1493);
    display:flex;
    //justify-content:center;
    align-items:center;
    margin:100px auto;
    padding:20px 5px;
    flex-direction:column;
    max-width:500px;
    border-radius:8px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    animation:fadeIn 1s ease;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(-20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
img{
    width:50px;
    height:25;
    margin-right:10px;
}

h1{
    text-align:center;
    text-decoration:underline;
    color:white;
    margin-bottom:20px;
}

.row{
    margin-top:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:transform 0.2s ease;
}

.row:hover{
    transform:scale(1.05);
}

input[type="number"]{
    padding:10px;
    font-size:15px;
    width:250px;
    border-radius:4px;
    border:1px solid white;
    flex:1;
    transition:border-color 0.3s ease;
    background-color:white;
    font-weight:600;
}
input[type="number"]:focus{
    border-color: #ff7efs;
    outline:none;
    box-shadow:0 0 2px #ff7e5f;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance:none;
    margin:0;
}

.cash-text{
    font-weight:bold;
    margin-left:10px;
    color:white;
    text-align:center;
    display:inline-block;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff7e5f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-end;
}

button:hover {
  background-color: #ff6c4a;
}

#textFinalCash {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  color: #ffffff;
}

#textFinalCashInWords {
  margin-top: 10px;
  font-style: italic;
  color: #fff;
}

.result-part {
  display: flex;
  flex-direction: column;
}